<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<table>
    <tr>
        <th>Contact name</th><th>Number</th>
    </tr>
<% for(var i = 0; i< formatedData.length; i++){ %>
    <tr>
        <td>
            <p><%= formatedData[i].carrier %></p>
        </td>
        <td>
            <p><%= formatedData[i].phone %></p>
        </td>
    </tr>
<% } %>
</table>

<%- include('partials/footer.ejs') %>